[submodule "packages/increment/account"]
	path = packages/increment/account
	url = https://github.com/incrementtechnologies/account.git
[submodule "packages/increment/common"]
	path = packages/increment/common
	url = https://github.com/incrementtechnologies/common.git
[submodule "packages/increment/messenger"]
	path = packages/increment/messenger
	url = https://github.com/incrementtechnologies/messenger.git
[submodule "packages/increment/payment"]
	path = packages/increment/payment
	url = https://github.com/incrementtechnologies/payment.git